<nav class="navbar is-fixed-top">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <h1>LyrIQ</h1>
      </a>
      <div class="navbar-burger" data-target="navbarExampleTransparentExample"
           onclick="document.querySelector('.navbar-menu').classList.toggle('is-active')">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>


    <div class="navbar-menu">
      <div class="navbar-start"></div>
      <div class="navbar-end">

        {{#if loggedIn}}
          <div class="navbar-item">
            <p class="control">
              <a class="button is-primary" href="/auth/logout">
                <span>Log Out</span>
              </a>
            </p>
          </div>
        {{else}}
          <div class="navbar-item">
            <p class="control">
              <a class="button is-primary" href="/auth">
                <span>Log In</span>
              </a>
            </p>
          </div>
        {{/if}}

      </div>
    </div>
  </div>
  </div>
</nav>