<div id="noInternetMsg" class="notification is-danger hidden" style="max-width: 300px; position: absolute; right: 32px; bottom: 32px;">
  <button class="delete"></button>
  You are currently browsing the offline version of lyrIQ. <br>
  Please check your internet connection and refresh the page.
</div>