<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>LyrIQ - The Intelligent Lyrics Search Engine</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="manifest" href="/manifest.webmanifest">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body class="has-navbar-fixed-top">
{{> navbar}}
{{{body}}}
{{> offlineMessage }}
<script src="/main.js"></script>
</body>
</html>